.day-theme{
    background-color: rgba(255, 0, 0, 0.307);
}

.night-theme{
    background-color: rgba(0, 0, 255, 0.307);
}



.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.button {
    color: white;
    background-color: brown;
    height: 50px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}